<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{components/layout :: layout(~{::content}, 'Contact list app', 'Contacts')}">
<body>
<div th:fragment="content">
    <th:block th:unless="${contacts.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Lastname</td>
                <td>Phone</td>
                <td>Email</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.id}"></td>
                <td th:text="${contact.name}"></td>
                <td th:text="${contact.lastname}"></td>
                <td th:text="${contact.phone}"></td>
                <td th:text="${contact.email}"></td>
                <td>
                    <a style="text-decoration: none"
                       th:href="${#mvc.url('app.contact.edit').arg(0, contact.id).build()}">✏️</a>
                </td>
                <td>
                    <form th:action="${#mvc.url('app.contact.delete').arg(0, contact.id).build()}" th:method="delete">
                        <button type="submit" class="btn">🗑️</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
    <th:block th:if="${contacts.isEmpty()}">
        <h2>Contact list is empty 😿</h2>
    </th:block>

    <a th:href="${#mvc.url('app.contact.add').build()}" class="btn btn-primary">Create contact</a>
</div>
</body>
</html>
